/*-- about --*/
.w3layouts_about_grid_left p{
  line-height:2em;
  color:#999;
}
.w3layouts_about_grid_left p i{
  display:block;
  margin:1em 0;
  color:#212121;
  font-family: 'Montserrat', sans-serif;
}
.w3layouts_about_grid_right iframe{
  width:100%;
  min-height:305px;
  border: none;
}
/*-- //about --*/
