/*-- support_three_grids --*/
.support_three_grids{
    background:#34b3f5;
    padding:3em 0;
}
.agileinfo_support_three_grids_left h3{
    font-size:2em;
    color:#fff;
}
.agileinfo_support_three_grids_left p{
    color:#fff;
    line-height:2em;
    margin:1em 0 0;
}
.wthree_subscribe a{
    padding:10px 30px;
    background:#212121;
    color:#fff;
    font-size:14px;
    font-weight:600;
    text-decoration:none;
    border-radius:5px;
    border-bottom: 1px solid;
}
.wthree_subscribe a:hover{
    background:#f56f19;
}
.agileinfo_support_three_grids_right {
    text-align: right;
    margin: 1.7em 0 0;
}
/*-- //support_three_grids --*/
